@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html,body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body {
    padding: 0 10px 10px 10px;
    background: rgb(50,50,50);
}

    body > h1 {
        color: rgb(255, 0, 0);
        font-size: 3em;
        margin: 0.25em 0;
        font-weight: normal;
        font-family: Impact, Charcoal, sans-serif;
        text-align: center;
    }
#canvas {
    background: black;
    border: 1px solid white;
    border-radius: 0.25em;
    width: 720px;
    height: 480px;
    width: calc(100vw - 20px);
    /* 16:9 width:height ratio -> 9/16 = .5625  */
    /* 9/16 * 20px padding = 11.25px */
    height: calc(56.25vw - 11.25px);

    margin-top: 1em;
}



/* #region settings */
#settings {
    overflow: hidden; /* necessary for height when children are floating */
    display: flex;
    flex-wrap: wrap;
    gap: 0.25em 1em;
}
#settings div {
    width: calc(25% - 0.775em);
}
#settings input {
    width: 100%;
    box-sizing: border-box;
    background: #ddd;
    border: 2px solid #fff;
    border-radius: 0.25em;
    padding: 0.5em;
    outline: none;
}
#settings label {
    display: block;
    color: white;
}

@media screen and (max-width: 600px) {
    #settings div {
        width: calc(50% - 0.5em);
    }
}
/* #endregion settings */